@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css); 
/* font-family: 'Nanum Pen Script', cursive; */



li {list-style:none;}
a {text-decoration:none;}
img {border:0;}


#cat_01_cms {margin : 0 auto; border:0px solid #ff0000;} 

/* #cat_01_cms img {width:100%;max-width:100%; height:auto;}  */

#cat_01_cms table{table-layout:fixed}
#cat_01_cms img {
     display:block; max-width:100%; height:auto;    
}

/* 이미지 중앙정렬 */
#cat_01_cms  .ct_product_img_center img { display: block; margin-left: auto; margin-right: auto; } 

#cat_01_cms .ct_text {font-family:'Nanum Gothic'; font-size: 16px;color:#161B2B; line-height:150%;} 
#cat_01_cms .ct_text18 {font-family:'Nanum Gothic'; font-size: 18px;color:#161B2B; line-height:150%;} 
#cat_01_cms .ct_text20 {font-family:'Nanum Gothic'; font-size: 20px;color:#161B2B; line-height:150%;} 
#cat_01_cms .ct_text24 {font-family:'Nanum Gothic'; font-size: 24px;color:#161B2B; line-height:150%;} 
#cat_01_cms .ct_text30 {font-family:'Nanum Gothic'; font-size: 30px;color:#161B2B; line-height:150%;}
#cat_01_cms .ct_text35 {font-family:'Nanum Gothic'; font-size: 35px;color:#161B2B; line-height:150%;} 
#cat_01_cms .ct_text40 {font-family:'Nanum Gothic'; font-size: 40px;color:#161B2B; line-height:150%;} 
#cat_01_cms .ct_text45 {font-family:'Nanum Gothic'; font-size: 45px;color:#161B2B; line-height:150%;} 
#cat_01_cms .ct_text50 {font-family:'Nanum Gothic'; font-size: 50px;color:#161B2B; line-height:150%;} 

#cat_01_cms .ct_text_pen {font-family:'Nanum Pen Script'; font-size: 16px;color:#161B2B; line-height:24px;} 
#cat_01_cms .ct_text_pen {font-family:'Nanum Pen Script'; font-size: 16px;color:#161B2B; line-height:24px;} 

#cat_01_cms .ct_font_big {font-size: 2em;} 
#cat_01_cms .ct_font_board {font-weight: bold;} 
#cat_01_cms .ct_font_center {text-align: center;} 
#cat_01_cms .ct_font_right {text-align: right;} 

#cat_01_cms .ct_max_w80 {max-width:80%;} 
#cat_01_cms .ct_max_w85 {max-width:85%;} 
#cat_01_cms .ct_max_w90 {max-width:90%;} 
#cat_01_cms .ct_max_w100 {max-width:100%;} 

#cat_01_cms .ct_border {border:solid 1px;border-color:#acacac;} 

#cat_01_cms .ct_margin_left10 {margin-left:10px;} 
#cat_01_cms .ct_margin_left20 {margin-left:20px;} 
#cat_01_cms .ct_margin_left30 {margin-left:30px;} 

#cat_01_cms .ct_padding10 {padding:10px;} 
#cat_01_cms .ct_padding20 {padding:20px;} 
#cat_01_cms .ct_padding30 {padding:30px;} 

#cat_01_cms .cms_section_title {
background-image:url('/images/cms_comm_img/wmap.png');
background-repeat:no-repeat;
background-position:right 0px; ;
} 

#cat_01_cms .ct_gallery_w_n1_center  {text-align: center;vertical-align:top;} /* photo gallery rp*/
#cat_01_cms .ct_gallery_w_n1 {display:inline-block; *display:inline; vertical-align:top;zoom:1; text-align: center; padding:2px; } /* photo gallery rp*/
#cat_01_cms .ct_gallery_w_n1 img {max-width:230px; } /* photo gallery rp*/
  

#cat_01_cms .ct_section_center {margin : 0 auto;} 
#cat_01_cms .ct_text_align_center {text-align:center; } 
#cat_01_cms .ct_text_align_right {text-align:right; } 
#cat_01_cms .ct_bt_img_right {float:right;text-align:right; } 
#cat_01_cms .ceo_bt_img {display:block;text-align:right;border:solid 0px;border-color:#acacac; } 

#cat_01_cms .ct_font_Gothic_B {font-family:'Nanum Gothic B';} 

#cat_01_cms .ct_box_align_center {text-align:center; width:100%;margin : 0 auto;} 

#cat_01_cms .ct_title_text16 {font-size: 16px; line-height:120%;} 
#cat_01_cms .ct_title_text18 {font-size: 18px; line-height:120%;} 
#cat_01_cms .ct_title_text20 {font-size: 20px; line-height:120%;} 
#cat_01_cms .ct_title_text24 {font-size: 24px; line-height:120%;} 
#cat_01_cms .ct_title_text30 {font-size: 30px; line-height:120%; } 
#cat_01_cms .ct_title_text34 {font-size: 34px; line-height:120%; } 
#cat_01_cms .ct_title_text40 {font-size: 40px; line-height:120%;} 
#cat_01_cms .ct_title_text50 {font-size: 50px; line-height:120%;} 
#cat_01_cms .ct_text_color_blue01 {color:#465693;} 
#cat_01_cms .ct_text_color_red01 {color:#f24f16;} 

#cat_01_cms .img_box1 {display:block;border:solid 0px;border-color:#acacac;min-height:280px;margin:4px;} 
#cat_01_cms .img_box1 .img_box_left {float:left;  } 
#cat_01_cms .img_box1 .img_box_left img {} 
#cat_01_cms .img_box1 .img_box_right_text {display:block;} 

#cat_01_cms .img_box2 {overflow:hidden;}  

#cat_01_cms .img_box3 {overflow: auto; border:solid 0px;border-color:#acacac;} 
#cat_01_cms .img_box3 .cmd_box_img_left {float: left;}
#cat_01_cms .img_box3 .cmd_box_img_right {float: right;}

#cat_01_cms .line_box1 .btn_box {width:130px;display:inline-block;padding:2px;margin:2px;border:solid 1px;border-color:#acacac;background-color:#ffffff;max-width:130px;} 


#cat_01_cms .ct_number_box_text16 {font-size: 16px; line-height:24px;} 
#cat_01_cms .ct_text_box1 {background-color:#000000;color:#ffffff;opacity:0.3;} 

#cat_01_cms .ct_text_box2_01 {  background-color: #ffdddd; border-left: 6px solid #f44336;margin-bottom: 15px;padding: 4px 12px;} 
#cat_01_cms .ct_text_box2_02 {  background-color: #ddffdd; border-left: 6px solid #4CAF50;margin-bottom: 15px;padding: 4px 12px;} 
#cat_01_cms .ct_text_box2_03 {  background-color: #e7f3fe; border-left: 6px solid #2196F3;margin-bottom: 15px;padding: 4px 12px;} 
#cat_01_cms .ct_text_box2_04 {  background-color: #f5fbb7; border-left: 6px solid #2196F3;margin-bottom: 15px;padding: 4px 12px;} 
#cat_01_cms .ct_text_box2_05 {  background-color: #e3fae0; border-left: 6px solid #2196F3;margin-bottom: 15px;padding: 4px 12px;} 
#cat_01_cms .ct_text_box2_06 {  background-color: #fadff8; border-left: 6px solid #2196F3;margin-bottom: 15px;padding: 4px 12px;} 
  
    
#cat_01_cms .img-text_section_01 .img-text_body  {width:100%;z-index:1;border:solid 0px;border-color:#ffacac;background:#ffffff;margin-top : 0px; margin-bottom : 0px; padding-top:0px; padding-bottom:0px; }
#cat_01_cms .img-text_section_01 .img-text_body .img-text_title{width:100%;text-align: left;z-index:1;border:solid 0px;border-color:#ffacac;background:#ffffff;margin-top : 0px; margin-bottom : 0px; padding-top:0px; padding-bottom:0px; }
#cat_01_cms .img-text_section_01 .img-text_body .img-text_left {display:inline-block;border:solid 0px;border-color:#333333;  font-size: 16px; line-height:19px; font-family:'Nanum Gothic Coding'; display: inline-block; text-align: center; padding:8px; margin-top : 4px; margin : 8px; vertical-align:top}
#cat_01_cms .img-text_section_01 .img-text_body .img-text_right {width:70%;border:solid 0px;border-color:#333333;  min-width:300px; display: inline-block; text-align: left; padding:8px; margin-top : 4px; margin : 8px; vertical-align:top}

#cat_01_cms .img-text_section_01 .img-text_body .bimg img{display:inline-block;vertical-align:top;}
#cat_01_cms .img-text_section_01 .img-text_body .btxt{vertical-align:top;}


#cat_01_cms .img-text_section_02 .img-text-body { display: table;   width: 100%;}
#cat_01_cms .img-text_section_02 .img-text-sec1 {  display: table-cell;   padding: 16px; text-align: center;	min-width:300px; vertical-align: top; border: 0px solid #acacac;}
#cat_01_cms .img-text_section_02 .img-text-sec2 {  display: table-cell;   padding: 16px;	width:100% ;vertical-align: top;border: 0px solid #acacac; }

@media screen and (max-width: 600px) {
   #cat_01_cms .img-text_section_02 .img-text-body { width: 100%;}
   #cat_01_cms .img-text_section_02 .img-text-sec1 { display: block;  padding: 10px; text-align: center;	vertical-align: top;border: 0px solid #acacac;}
   #cat_01_cms .img-text_section_02 .img-text-sec1 img {width:100%; margin-left:auto; margin-right:auto;}
   #cat_01_cms .img-text_section_02 .img-text-sec2 { display: block;  padding: 10px;	vertical-align: top;border: 0px solid #acacac;}
}



#cat_01_cms .customer_title_text01 {display:block;margin:0px;text-align:left; vertical-align:middle;  border: 0px solid #ffffff;  color:#333333; font-family:'Nanum Gothic B';font-size: 16px;line-height:22px;} 

#cat_01_cms .ct_btn_300 > a { position: relative; display:inline-block; width:200px; max-width:300px;border: 1px solid #acacac;color:#fff;font-family:'Nanum Gothic'; font-size: 16px; text-align:center; background:#f9f9f9;}
#cat_01_cms .ct_btn_300 > a {color:#4A4A4A; text-decoration:none;}
#cat_01_cms .ct_btn_300 > a:hover {color:#FF8A42; text-decoration:none;}


#cat_01_cms .ct_table { display: table; width: 100%; height: 100%; }
#cat_01_cms .ct_table .ct_table-cell {  display: table-cell; vertical-align: middle; text-align: center;}



#cat_01_cms .text_body { display: table;   width: 100%; border: 0px solid #acacac; }
#cat_01_cms .text_hd {display: table-cell;   padding: 2px; text-align: center;	max-width:40px; vertical-align: top; border: 0px solid #acacac;}
#cat_01_cms .text_bd {display: table-cell;   padding: 2px;	width:100% ;vertical-align: top;border:0px solid #acacac; }



li { list-style-type:none; }
#cat_01_cms .Process_box .box_body{overflow:hidden;max-width:1190px;margin:55px auto 0 auto ;border:solid 0px;border-color:#acacac; }
#cat_01_cms .Process_box .box_body .list{float:left;width:25%;border:solid 0px;border-color:#acacac;border:solid 0px;border-color:#acacac;}
#cat_01_cms .Process_box .box_body .list .list_box{position:relative;margin:25px;height:185px;background:#f4f4f4;border:solid 0px;border-color:#acacac;text-align:center}
#cat_01_cms .Process_box .box_body .num{position:absolute;top:0;left:50%;margin-left:-17px;margin-top:-20px;font-size:14px;font-weight:700;width:40px;color:#fff;text-align:center;line-height:40px;background:#004f9f;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
#cat_01_cms .Process_box .box_body .list .list_box .list_box_text{display:inline-block;position:relative;border:solid 0px;border-color:#acacac;width:80%; height:auto;top:10%}
#cat_01_cms .Process_box .box_body .title{font-size:20px;color:#444;font-weight:400;border:solid 0px;border-color:#acacac;}
#cat_01_cms .Process_box .box_body .info{font-size:14px;color:#888;line-height:22px;border:solid 0px;border-color:#acacac;}

#cat_01_cms .Process_box .box_body .arrow{position:absolute;top:50%;right:-26px;margin-top:-7px;border:solid 0px;border-color:#acacac;}


@media screen and (max-width: 900px) {
    #cat_01_cms   .Process_box .box_body .list {   width: 50%;  }	    
   
}


@media screen and (max-width: 600px) {
   #cat_01_cms  .Process_box .box_body .list {   width: 100%;  }	
   #cat_01_cms .Process_box .arrow {display:none;}
}

/* 50% 분할 화면 */

#cat_01_cms .cms_body * { box-sizing: border-box;	height:100%;}
#cat_01_cms .cms_body .cms_sec {width:50%;float: left;border:solid 1px;border-color:#acacac; } 
#cat_01_cms .cms_body:after { content: "";    display: table;    clear: both;}


@media screen and (max-width: 600px) {
  #cat_01_cms .cms_body .cms_sec{ width: 100%;} 
  #cat_01_cms .ct_title_text30 {font-size: 24px; line-height:120%; } 
}

/* 50% 분할 화면 */


.bg_img-text_section_02 {
   background: url(/images/overlays/07.png), url("/images/img_element/img_em_1000_004.jpg") no-repeat center top }
 
}


#ino_cms_table_set {width:100%}
#ino_cms_table_set table td {line-height:150%; font-size: 16px; color:#525252; }  /* table font color:#525252; test #ff5252 */
#ino_cms_table_set table td a { line-height:150%; font-size: 16px; color:#525252;}  /* table font color:#525252; test #ff5252 */

@media screen and (max-width: 600px) {

#ino_cms_table_set table td {line-height:150%; font-size: 12px; color:#525252; }  /* table font color:#525252; test #ff5252 */
#ino_cms_table_set table td a { line-height:150%; font-size: 12px; color:#525252;}  /* table font color:#525252; test #ff5252 */

  
    }
}


#cat_01_cms .table_title_txt { font-family: 'Noto Sans Regular';}